:root {--accent: #FF00FF;
    --color1: linear-gradient(to bottom right, #FF00FF, #FF5F1F);
    --transparent: rgb(255, 255, 255, 0.3);}
    
    body {
        background-image: url("car2.webp");
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: transparent;
    }

    .body {
        font-family: 'Source Sans Pro', sans-serif;
        background-color: #EEEEEE;
        display: flex;
        justify-content: center;
      }
    
    .form {
      flex-direction: column;
      width: 300px;
      height: auto;
      background-color: var(--transparent);
      color: var(--accent);
      position: absolute;
      padding: 20px 30px;
      margin-top: 130px;
      backdrop-filter: blur(10px);
      border: 2px solid var(--transparent);
      border-radius: 16px;
      text-align: center;
    }
    
    input {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      font-weight: 600;
      margin: 10px 0;
      height: 40px;
      width: 296px;
      border: none;
      border-bottom: 1px solid var(--accent);
      background-color: transparent;
      outline: none;
      color: #FF00FF;
    }
    
    a {
      background: var(--color1);
      color: #EEEEEE;
      text-decoration: none;
      padding: 12px 0;
      margin: 20px 0 10px 0;
      text-align: center;
      border-radius: 30px;
      transition: 0.4s;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
      cursor: pointer;
    }
    
    a:hover {
      transform: translatey(2px);
      box-shadow: none;
    }
    
    .socials {
      padding: 10px 40px;
      display: flex;
      justify-content: space-between;
    }
    
    img {
      max-width: 40px;
      border-radius: 50%;
      transition: 0.4s;
    }
    
    img:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #FF00FF;
     }
     :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #FF00FF;
     }
     ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #FF00FF;
     }
     :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #FF00FF;
     }

     input:focus{
        color: #FF00FF;
    }

    .resp {
      background: var(--color1);
      color: #EEEEEE;
      text-decoration: none;
      padding: 12px 0;
      margin: 20px 0 10px 0;
      text-align: center;
      border-radius: 30px;
      transition: 0.4s;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
      cursor:not-allowed;
    }